@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    color: white;
    font-family: 'Creepster', cursive;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #343541;
    display: flex;
}

h1 {
    font-size: 33px;
    font-weight: 600;
    padding: 200px 0;
}

.side-bar {
    background-color: #202123;
    width: 244px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

#output {
    position: fixed;
    top: 10px;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 100%;
    max-width: 620px;
    overflow-y: auto;
    scroll-margin: 0px;
    /* Permettre le défilement vertical si le contenu dépasse la hauteur définie */
}

.bottom-section {
    position: fixed;
    display: flex;
    bottom: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* Hauteur de la bottom-section */
}

.info {
    position: fixed;
    bottom: -15;
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    padding: 10px;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
        rgba(0, 0, 0, 0.05) 0 -12px 30px,
        rgba(0, 0, 0, 0.05) 0 4px 6px,
        rgba(0, 0, 0, 0.05) 0 12px 3px,
        rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

input:focus {
    outline: none;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 650px;
}

.input-container #submit {
    position: absolute;
    right: 20;
    bottom: 15px;
    cursor: pointer;
}

#new-chat {
    display: flex;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#new-chat p {
    margin: 10px;
}

nav {
    display: flex;
    justify-content: center;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
}

.history {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100%
}

.history p {
    cursor: pointer;
}

.image-container {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

/* Style pour aligner le conteneur d'historique à gauche */
.history {
    width: 250px;
    /* Largeur fixe du conteneur d'historique */
    text-align: left;
    /* Alignement du texte à gauche */
    overflow-y: auto;
    /* Activation du défilement vertical si nécessaire */
}

/* Style pour les entrées de chat à gauche */
.chat-entry {
    width: 100%;
    /* Largeur fixe de chaque entrée de chat */
    margin-bottom: 10px;
    /* Marge inférieure pour l'espacement entre les entrées de chat */
    background-color: #f0f0f0;
    /* Couleur de fond pour les entrées de chat */
    padding: 10px;
    /* Espacement interne pour les entrées de chat */
}

.chat-item {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    max-width: 170px;
}

.chat-item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #000;
}

#new-chat:hover {
    background-color: #343541;
}

.selected-chat-item {
    background-color: #343541;
    color: #fff;
}

/* Style pour les images des expéditeurs */
.message img {
    width: 40px; /* Taille de l'image */
    height: auto;
    margin-right: 10px; /* Espace à droite de l'image */
    border-radius: 50%; /* Coins arrondis pour l'image */
    margin-top: 15px;
}

.side-bar img {
    width: 30px; /* Taille de l'image */
    height: 30px;
    margin-right: 10px; /* Espace à droite de l'image */
    border-radius: 50%; /* Coins arrondis pour l'image */
    margin-top: 6px;
    margin-left: 10px;
}

.message {
    display: flex;
}

.message.msg {
    display: flex;
    flex-direction: column; /* Alignement vertical pour le nom de l'expéditeur et le message */
    align-items: flex-start; /* Alignement à gauche */
}

.cursor {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: white;
    animation: blink 1s step-end infinite;
    border-radius: 50%;
}

@keyframes blink {
    50% { opacity: 0; }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-content {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.popup-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #45a049;
}
